Repository codecov/codecov-demo: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 1%

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: api-calculator  # this is an identifier that should not be changed
      name: calculator  # this is a display name, and can be changed freely
      paths:
        - api/calculator/
    - component_id: api-smiles  # this is an identifier that should not be changed
      name: smiles  # this is a display name, and can be changed freely
      paths:
        - api/smiles/

step4: add smiles
  .github/workflows/api.yml
  api/smiles/__init__.py
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

step4: add Codecov Component
  codecov.yml
Due: none

step4: aggregate tests and split Component
  .github/workflows/api.yml
  codecov.yml
Due: none

step5: add frontend and tests
  .github/workflows/frontend.yml
  web/.babelrc
  web/index.html
  web/package-lock.json
  web/package.json
  web/server.js
  web/static/css/calculator.css
  web/static/js/calculator.js
  web/static/js/calculator.test.js
  web/static/js/calculatorView.js
Due: none

step5: fix tabs/space in *.yml workflows
  .github/workflows/api.yml
  .github/workflows/frontend.yml
Due: none

step5: add Codecov Flags
  .github/workflows/api.yml
  .github/workflows/frontend.yml
  codecov.yml
Due: none

step6: add Carryforward Flags
  .github/workflows/api.yml
  .github/workflows/frontend.yml
  codecov.yml
  web/static/js/calculator.test.js
Due: none

Update workflow.yml
  .github/workflows/workflow.yml
Due: none

step1: add calculator backend and tests
  Lib/site-packages/coverage-7.4.4.dist-info/RECORD
  Lib/site-packages/flask-3.0.3.dist-info/RECORD
  Lib/site-packages/pip-22.3.1.dist-info/RECORD
  Lib/site-packages/pytest-8.1.1.dist-info/RECORD
  Lib/site-packages/pytest-8.1.1.dist-info/REQUESTED
  Scripts/coverage-3.11.exe
  Scripts/coverage.exe
  Scripts/coverage3.exe
  Scripts/flask.exe
  Scripts/pip.exe
  Scripts/pip3.11.exe
  Scripts/pip3.exe
  Scripts/py.test.exe
  Scripts/pytest.exe
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
  api/requirements.txt
  pyvenv.cfg
Due: calculator

commit um pullrequest auszuchecken
  README.md
Due: none

step2: upload coverage reports to Codecov
  circleci/config.yml
  github/api.yml
Due: none

step2: upload coverage reports to Codecov
  README.md
Due: none

step2: upload github actions coverage
  circleci/config.yml
Due: none

step2: upload github actions fix
  github/workflows/api.yml
Due: none

step2: upload github actions fix2
  .github/workflows/api.yml
Due: none

step3: added target codecov
  codecov.yml
Due: none

step3: cover divide by 0 case
  api/calculator/test_calculator.py
Due: calculator

step3: add Codecov badge
  README.md
Due: none

step0: add python dependencies
  api/requirements.txt
Due: none

step0: add python dependencies
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
Due: calculator

Rename workflow.yml to codecov.yml
  .github/workflows/codecov.yml
Due: none

Revert "step4: add smiles"
  .github/workflows/api.yml
  api/smiles/__init__.py
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

step1: add calculator backend and tests
  api/calculator/test_calculator.py
Due: calculator

step2: upload coverage reports to Codecov
  .github/workflows/.circleci/config.yml
  .github/workflows/api.yml
Due: none

Revert "step6: add Carryforward Flags"
  .github/workflows/api.yml
  .github/workflows/frontend.yml
  codecov.yml
  web/static/js/calculator.test.js
Due: none

step2: upload coverage reports to Codecov
  .circleci/config.yml
  .github/workflows/api.yml
Due: none

Update
  .circleci/config.yml
Due: none

Update
  .github/workflows/api.yml
Due: none

Update
  api/requirements.txt
Due: none

Update
  .circleci/config.yml
  .github/workflows/api.yml
Due: none
