Repository codecov/codecov-demo: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles

step2.1
  api/requirements.txt
Due: none

step 2.2
  .github/workflows/api.yml
Due: none

step2.3
  .github/workflows/api.yml
Due: none

step3
  codecov.yml
Due: none

step4: aggregate tests and split Component
  .github/workflows/ci.yml
  codecov.yml
Due: none

added mod operation
  api/app.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator

step5: add frontend and tests
  .github/workflows/frontend.yml
  web/.babelrc
  web/index.html
  web/package-lock.json
  web/package.json
  web/server.js
  web/static/css/calculator.css
  web/static/js/calculator.js
  web/static/js/calculator.test.js
  web/static/js/calculatorView.js
Due: none

fixed coverage
  api/calculator/test_calculator.py
Due: calculator

step5: add Codecov Flags
  .github/workflows/ci.yml
  .github/workflows/frontend.yml
  codecov.yml
Due: none

Update README.md
  README.md
Due: none

step4
  .github/workflows/api.yml
  api/smiles/__init__.py
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

step4.1
  codecov.yml
Due: none

wip
  .gitignore
  api/requirements.txt
Due: none

step1: add calculator backend and tests
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator

Create api.yml
  .github/workflows/api.yml
Due: none

step0
  .DS_Store
  api/requirements.txt
  get-pip.py
Due: none

step0: add python dependencies
  api/requirements.txt
  tree
Due: none

step0: add python dependencies
  .idea/.gitignore
  .idea/codecov-demo.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  api/requirements.txt
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Update requirements.txt
  api/requirements.txt
Due: none

testing signing
  README.md
Due: none

step0: add python dependencies
  api/requirements.txt
Due: none

step1: add calculator backend and tests
  api/aplicativo.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator

step2: upload coverage reports to Codecov
  .circleci/config.yml
  .github/ workflows/api.yml
Due: none

foi colocando as libs dentro do requiremts
  api/requirements.txt
Due: none

step2: upload coverage reports to Codecov
  .github/workflows/api.yml
Due: none

step2: upload coverage reports to Codecov
  .github/workflows/api.yml
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
Due: calculator

step0
  .gitignore
  api/requirements.txt
Due: none

step0 added python dependencies
  api/requirements.txt
Due: none

step0 added python dependencies (#1)
  api/requirements.txt
Due: none

Path conditions:
  calculator: any of: api/calculator/
  smiles: any of: api/smiles/
