Repository codecov/codecov-demo: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles

Adds cant divide by 0 test.
  api/calculator/test_calculator.py
Due: calculator

Update config.yml
  .circleci/config.yml
Due: none

Update README.md
  README.md
Due: none

Update codecov.yml
  codecov.yml
Due: none

updated backend target
  codecov.yml
Due: none

step0: add python dependencies
  .gitignore
  api/requirements.txt
Due: none

step1: add calculator backend and tests
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator

step2: upload coverage reports to Codecov
  .github/workflows/api.yml
Due: none

step3: add project status check target
  codecov.yml
Due: none

step0: add python dependencies
  api/requirements.txt
Due: none

step2: upload coverage reports to Codecov 2
  api/requirements.txt
Due: none

step3: cover divide by 0 case
  api/calculator/test_calculator.py
Due: calculator

step3: cover divide by 0 case
  .circleci/config.yml
Due: none

add badge
  README.md
Due: none

coba lagi
  api/calculator/test_calculator.py
Due: calculator

step4: add smiles
  .github/workflows/api.yml
  api/smiles/__init__.py
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

Create workflows
  .github/workflows
Due: none

Delete .github directory
  .github/workflows
Due: none

step3: add Codecov badge
  README.md
Due: none

step3:1
  api/calculator/test_calculator.py
Due: calculator

step3:2
  api/calculator/test_calculator.py
Due: calculator

step3:3
  api/calculator/test_calculator.py
Due: calculator

step4: add smiless
  .github/workflows/ci.yml
Due: none

step4: add Codecov Component
  codecov.yml
Due: none

Path conditions:
  calculator: any of: api/calculator/
  smiles: any of: api/smiles/
