Repository codecov/codecov-demo: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 1%

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: api-calculator  # this is an identifier that should not be changed
      name: calculator  # this is a display name, and can be changed freely
      paths:
        - api/calculator/
    - component_id: api-smiles  # this is an identifier that should not be changed
      name: smiles  # this is a display name, and can be changed freely
      paths:
        - api/smiles/

step0: add python dependencies
  api/requirements.txt
Due: none

step1: add calculator backend and tests
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator

step2: upload coverage reports to Codecov
  .github/workflows/api.yml
Due: none

step2: upload coverage reports to codecov
  .github/workflows/api.yml
Due: none

upgrade pip to try to fix failing workflow step
  .github/workflows/api.yml
Due: none

step1: add calculator backend and tests
  .gitignore
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
  api/requirements.txt
Due: calculator

step0: add python dependencies
  .DS_Store
  api/requirements.txt
Due: none

Update requirements.txt
  api/requirements.txt
Due: none

step3: add project status check target
  codecov.yml
Due: none

step3: cover divide by 0 case
  .DS_Store
  api/calculator/test_calculator.py
Due: calculator

step3: add Codecov badge
  README.md
Due: none

step4: add smiles
  .github/workflows/api.yml
  api/smiles/__init__.py
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

remove step to upgrade pip
  .github/workflows/api.yml
Due: none

update requiremenst.txt
  api/requirements.txt
  api/requirements.txt.bak
Due: none

cover divide by 0 case
  api/calculator/test_calculator.py
Due: calculator

add codecov badget to readme
  README.md
Due: none

step 4: add smiles
  .github/workflows/api.yml
  api/smiles/__init__.py
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

readme geändert
  README.md
Due: none

step2: upload coverage reports to Codecov
  .circleci/config.yml
  .github/workflows/api.yml
Due: none

step3: cover divide by 0 case
  api/calculator/test_calculator.py
Due: calculator

step1: add caclculator backend and tests
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator
