Repository codecov/codecov-demo: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles

temp
  .DS_Store
  api/requirements.txt
  codecov.yml
Due: none

Create requirements.txt
  api/requirements.txt
Due: none

Create calculator.py
  api/calculator/calculator.py
Due: calculator

Create __init__.py
  api/calculator/__init__.py
Due: calculator

Create app.py
  api/app.py
Due: none

Create test_calculator.py
  api/calculator/test_calculator.py
Due: calculator

Create conf.yaml
  .circleci/conf.yaml
Due: none

Delete conf.yaml
  .circleci/conf.yaml
Due: none

Create config.yaml
  .circleci/config.yaml
Due: none

Delete config.yaml
  .circleci/config.yaml
Due: none

Create config.yml
  .circleci/config.yml
Due: none

Create codecov.yml
  codecov.yml
Due: none

Update test_calculator.py
  api/calculator/test_calculator.py
Due: calculator

Update README.md
  README.md
Due: none

Create smiles.py
  api/smiles/smiles.py
Due: smiles

Create test_smiles.py
  api/smiles/test_smiles.py
Due: smiles

Update codecov.yml
  codecov.yml
Due: none

Create __init__.py
  api/smiles/__init__.py
Due: smiles

Create calculator.css
  web/static/css/calculator.css
Due: none

Create calculator.js
  web/static/js/calculator.js
Due: none

Create .babelrc
  web/.babelrc
Due: none

Create index.html
  web/index.html
Due: none

Create package.json
  web/package.json
Due: none

Create server.js
  web/server.js
Due: none

Create calculatorView.js
  web/static/js/calculatorView.js
Due: none

Create calculator.test.js
  web/static/js/calculator.test.js
Due: none

Update config.yml
  .circleci/config.yml
Due: none

step0: add python dependencies
  api/requirements.txt
Due: none

step1: add calculator backend and tests
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
Due: calculator

Create api.yml
  .github/workflows/api.yml
Due: none

step0: add python dependencies.
  api/requirements.txt
Due: none

completes Step 2 of tutorial
  api/app.py
  api/calculator/__init__.py
  api/calculator/calculator.py
  api/calculator/test_calculator.py
  api/requirements.txt
Due: calculator

Path conditions:
  calculator: any of: api/calculator/
  smiles: any of: api/smiles/
